.service-section-wrapper {
  width: 100%;
  background-color: rgb(16, 23, 39);
  margin: 5rem auto;
}

.service-section-top {
  display: flex;
  place-items: center;
  flex-direction: column;
  margin: auto;
}
.primary-heading {
  color: whitesmoke;
  margin: 3rem 0rem;
}
.primary-sub-heading {
  color: aliceblue;
  font-size: larger;
  font-weight: bold;
}

.gradient {
  width: 50%;
  height: 8px;
  margin: 4vh auto;
  background-image: linear-gradient(
    to right,
    rgb(9, 9, 70),
    rgb(0, 208, 255),
    rgb(120, 120, 240)
  );
  border-radius: 2px;
}

.service-container {
  max-width: 960px 460px;
  /* width: 100%; */
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30rem;
}
.service-info {
  transition: 0.4s all ease-out;
  width: 100%;
  min-height: 350px;
  background-image: linear-gradient(to right, rgb(0, 24, 47), rgb(62, 62, 106));
  padding: 2rem;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  text-align: center;
  border-radius: 1rem;
  border: 2px solid rgba(181, 181, 181, 0.284);
  margin: auto 1rem;
  z-index: 10;
}
.service-info:hover {
  transform: scale(1.04);
  background: linear-gradient(
    to left,
    rgba(35, 35, 88, 0.824),
    rgb(67, 67, 146)
  );
  border: 3px solid rgb(208, 205, 205);
}
.service-info h2 {
  font-weight: 700;
  font-size: 20px;
  max-height: 10rem;
  margin: auto;
  color: aliceblue;
}
.service-info span {
  margin: auto;
  text-align: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: rgb(158, 165, 179);
}
.service-link {
  text-decoration: solid underline;
  text-underline-offset: 4px;
  line-height: 2;
  letter-spacing: 1px;
  font-weight: 500;
  font: medium;
  color: rgb(71, 162, 247);
  margin-top: 20px;
}
.service-link:hover {
  color: #14609c;
}
.icon {
  margin-bottom: -3px;
}

/* MEDIA QUERY */

@media (max-width: 884px) {
  .primary-sub-heading {
    color: aliceblue;
    width: 80%;
    text-align: center;
    /* display: block;
      align-items: center;
      justify-content: center; */
    font-size: larger;
    font-weight: bold;
  }

  .service-info {
    margin: 1.5rem 1rem;
  }
  .service-container {
    max-width: 960px;
    margin: 50px;
    display: row;
    flex-direction: column;
    align-items: center;
    height: 100rem;
  }
  .service-info span {
    font-size: larger;
    line-height: 40px;
  }
  .service-info h2 {
    font-size: x-large;
  }
}

@media (max-width: 428px) {
  .service-container {
    margin: 20px;
    height: 120rem;
  }
  .service-info h2 {
    font-size: large;
  }
  .service-info span {
    font-size: larger;
    line-height: 30px;
  }
}
